{{define "footer"}}
  <footer class="pb-16 pt-10 flex justify-center text-center text-lg">
    powered by&nbsp;
    <a target="_blank" href="https://golang.org">
      <img width="48" class="relative mx-1" style="top: 4px;" src="/static/icons/golang-official.svg" alt="Go lang" title="Go language">
    </a>
    &nbsp;and&nbsp;
    <a class="flex" target="_blank" href="https://cosmicjs.com">
      <img width="20" class="relative ml-1 mr-2" style="bottom: 1px;" src="/static/icons/cosmic.svg" alt="Cosmic">
      <strong>Cosmic</strong>
    </a>
  </footer>
</body>

</html>
{{end}}